.site-heading
  display: block
  margin-bottom: 10px
.site-heading .navbar-inner
  width: 1004px
  margin: -3px auto 0 auto
  padding: 0
.navbar .brand
  margin-left: -13px
  font-family: 'Cousine', sans-serif
  font-weight: 400
  font-style: normal
  line-height: 16px
  vertical-align: middle
  padding-top: 4px
  padding-bottom: 0px
  white-space: nowrap
  img
    vertical-align: middle
    width: 61px
    height: 60px
  span
    font-size: 13px
    vertical-align: middle
    white-space: nowrap
    text-shadow: 1px 2px 2px #a0a0a0
.nav li
  font-size: 13px
.sns-share-list-item
  flex-grow: 1
  min-width: 50px
  text-align: center
  height: 20px
  line-height: 16px
  margin-top: 12px
.sns-share-list-item
  a
    padding: 0px !important
    margin: 0px
.sns-share-icon
  display: block
  flex-grow: 1
  min-width: 50px
  padding: 4px 0
  color: #FFFFFF
  margin: 8px auto
  vertical-align: bottom
  font-size: 16px
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  -webkit-font-smoothing: antialiased
.fa-facebook-f
  background: #3B5998
.fa-twitter
  background: #00B0ED
.fa-line
  background: #00C300
.fa-envelope
  background: #DD5533
  margin-right: 10px
