#budget-vote
  #budget-vote-label
    span.label この予算についてのあなたの意見を投票して下さい。
  #BudgetItem.btn-toolbar
    .btn-group
      button.btn.vote-btn(ng-click="like()")
        span#vote1 {{nlikes || 0}} 人
        br
        i.icon-big-plus
        br
        増加希望
      button.btn.vote-btn(ng-click="confuse()")
        span#vote2 {{nconfuses || 0}} 人
        br
        i.icon-big-question-sign
        br
        表示不明
      button.btn.vote-btn(ng-click="hate()")
        span#vote3 {{nhates || 0}} 人
        br
        i.icon-big-minus
        br
        削減希望
      button.btn.vote-btn.btn-danger(ng-click="cut()")
        span#vote4 {{ncuts || 0}} 人
        br
        i.icon-big-ban-circle
        br
        削除要求
